<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <style type="text/css" media="screen">
      body {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration-color: white;
      }
    </style>
  </head>
  <body>
    <h1>SignUp</h1>
    <form method="post" action="/user">
      <label for="name">Full Name</label>
      <input type="text" name="name" id="name" />
      <label for="email">Email Id</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
